body {margin:auto; text-align:center;font-family:Arial, Helvetica, sans-serif;}
p {font-size:16px; line-height: 1; color:#000000;}

#wrapper {
	position:absolute;
	padding:0px 0px 0px 0px;
	font-size: 0;
	line-height: 0;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	/*min-height: 50%;*/

	/*background-image: url("img/sky_bg_1.jpg");*/
	/*background-color: #cccccc;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#inner-wrapper {
    width: 100%;
    height: 75%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    padding: 8% 0 0 0;
    max-width: 970px;
    min-height: 650px;
}

#footer {
	margin: 25px auto 10px auto;
	width: 100%;
}
.footer-p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 0 -50px;
}

.p {
    text-align: center;
    line-height: normal;
    font-size: 23px;
    color: #000;
    padding: 45px 15px 10px 15px;
    margin: auto;
}

/* Burger Menu */
#menu-side-bar {
    z-index: 999;
}
#burger-icon {
    width: 40px;
    text-align: center;
    padding: 5px;
    margin: 0 0 10px 0;
    border: 1px solid #000;
    border-color: rgba(0,0,0,0.25);
    border-radius: 8px;
    display: none;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
}
#menu-side-bar.open #menu-items {
	display: block;
	position: absolute;
	left: 0;
    top: 60px;
	text-align: left;
	min-width: 200px;
	background-color: aliceblue;
}
#menu-side-bar.open #menu-items .menu-link {
	display: block;
	padding: 20px 25px 20px 25px;
}
#menu-side-bar.open #menu-items .menu-link:hover {
    background-color: rgb(39,88,159);
    color: #fff;
    text-decoration: none;
}
.menu-spacer {
	font-size: 18px;
    line-height: 24px;
}
#menu-items {
    line-height: 25px;
    text-align: center;
    padding: 0;
    margin: 0 0 0 -25px;
    width: 40%;
    position: relative;
    left: 30%;
    top: -10px;
    z-index: 1;
}
.menu-link {
	color: #000;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	padding: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-link:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 985px) {
	#inner-wrapper {
	    max-width: 650px;
        padding: 12% 0 8% 0;
	}

	#menu-side-bar {
		position: absolute;
	}
	#menu-items {
		min-width: 650px;
		left: auto;
		margin: auto;
		top: 3%;
	}
	.menu-side-bar {
		text-align: left;
	}

	.footer-p {
		margin: auto;
	}
	.footer-span {
		display: block;
	    padding: 6px;
	}
}

@media only screen and (max-width: 650px) {
	#inner-wrapper {
	    height: 100%;
	    max-width: 400px;
	    min-height: 800px;
	    padding: 5% 0 8% 0;
	}

	#menu-side-bar {
		position: relative;
	    width: 55px;
	}
	#burger-icon {
		display: block;
		font-size: 40px;
		line-height: 1;
	}
	#menu-side-bar #menu-items {
		display: none;
	}
	.menu-spacer {
		display: none;
	}
	.fa-times {
		display: none;
	}
	.open .fa-times {
		display: block;
	}
	.open .fa-bars {
		display: none;
	}


	#footer {
		margin: 0;
	}
	.footer-p {
		margin: auto;
		padding: 0 0 25px 0;
	}
	.footer-span {
		display: block;
	    padding: 6px;
	}

}

@media only screen and (max-width: 480px) {}
